{% extends 'web/base.html' %}
{% block title %}Inmobiliaria Durand — Propiedades de Lujo en Lima{% endblock %}

{% block content %}

    {% include 'web/components/_hero.html' %}
    
    {% include 'web/components/_nosotros.html' %}
    
    {% include 'web/components/_valores.html' %}
    
    {% include 'web/components/_servicios.html' %}
    
    {% include 'web/components/_proceso.html' %}
    
    {% include 'web/components/_testimonios.html' %}
    
    {% include 'web/components/_cta.html' %}

{% endblock %}